<div class="row">
  <div class="col-md-6">First Name</div>
  <div class="col-md-6"><%= @profile&.first_name %></div>
</div>
<div class="row">
  <div class="col-md-6">Last Name</div>
  <div class="col-md-6"><%= @profile&.last_name %></div>
</div>
<div class="row">
  <div class="col-md-6">Date Of Birth</div>
  <div class="col-md-6"><%= @profile&.date_of_birth %></div>
</div>
<div class="row">
  <div class="col-md-6">Gender</div>
  <div class="col-md-6"><%= @profile&.gender %></div>
</div>
<div class="row">
  <div class="col-md-6">City</div>
  <div class="col-md-6"><%= @profile&.city %></div>
</div>
<div class="row">
  <div class="col-md-6">State</div>
  <div class="col-md-6"><%= @profile&.state %></div>
</div>
<div class="row">
  <div class="col-md-6">Country</div>
  <div class="col-md-6"><%= @profile&.country %></div>
</div>

